{% extends 'base.html' %} 
{% load static%}
{% block content %}


<section class="section-conten padding-y bg" style="margin-top: 100px">
    <div class="container card mb-5" style="background-color: white
    ">
      <div class="row">
        {% include 'includes/admindashboardsidebar.html' %}
  
        <main class="col-md-9">
          {% for message in messages %}
          <div>
            <p class=" my-5 alert alert-{{message.tags}}">{{message}}</p>
          </div>
          {% endfor %}
            <h2 class="text-center font-weight-bold text-black  my-5">Order Management</h2>
         
  
          <article class="card my-5">
            <div class="card">
              <div class="card-body">
                <table class="table table-borderless">
                  <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col">order date</th>
                      <th scope="col">Tracking Number</th>
                      <th scope="col">Total Price</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
  
                  <tbody>
                      {% for item in order %}
                    <tr>
                      <td>{{ item.created_at }}</td>
                      <td>{{ item.tracking_no }}</td>
                      <td>₹ {{ item.total_price }}</td>
                      {% if item.status == 'Cancelled' %}
                      <td class="text-danger "><b>{{ item.status }}</b></td>
                      {% elif item.status == 'Out For Shipping' %}
                      <td class="text-info fw-bold "> <b>{{ item.status }}</b></td>
                      {% elif item.status == 'Shipped' %}
                      <td class="text-primary fw-bold "> <b>{{ item.status }}</b></td>
                      {% elif item.status == 'Delivered' %}
                      <td class="text-success fw-bold "> <b>{{ item.status }}</b></td>
                      {% elif item.status == 'Pending' %}
                      <td class="text-warning fw-bold "> <b>{{ item.status }}</b></td>
                      {% endif %}
                    
                      <td><a href="{% url 'manager_vieworder' item.tracking_no %}" class="btn btn-dark">View</a></td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="container d-flex align-items-center justify-content-center">
                    <nav
                        class="mt-4 d-flex justify-content-center"
                        aria-label="Page navigation sample">
                        {% if order.has_other_pages %}
                        <ul class="pagination">
                            {% if order.has_previous %}
                            <li class="page-item">
                            <a class="page-link" href="?page{{ orders.previous_page_number }}">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                            <a class="page-link" href="#">Previous</a>
                            </li>
                            {% endif %}
                            {% for i in order.paginator.page_range %} 
                            {% if order.number == i %}

                            <li class="page-item active">
                            <a class="page-link" href="#">{{i}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                            <a class="page-link" href="?page={{i}}">{{i}}</a>
                            </li>
                            {% endif %} 
                            {% endfor %} 
                            {% if order.has_next %}
                            <li class="page-item">
                            <a class="page-link" href="?page={{ orders.next_page_number }}">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled "><a class="page-link" href="#">Next</a></li>

                            {% endif %}
                        </ul>
                            
                        {% endif %}
                        </nav>
                  </div>
              </div>
            </div>
          </article>
          <!-- order-group.// -->
        </main>
      </div>
      <!-- row.// -->
    </div>
   
  </section>

  
{% endblock %}
