{% extends 'base.html' %}
{% load static %}
{% block content %}
 
	



<section class="section-content padding-y bg" style="margin-top: 100px;">
  {% if not cart_items %}
  <div style="margin-top: 200px; margin-bottom:100px ;">
      <div>
         <h2 class="text-center fw-bold text-danger" >You're Shopping Cart is Empty</h2>
        <br>
      </div>

       <div class="text-center">
         <a href="{% url 'store' %}" class="btn btn-dark">Continue Shopping</a>
      </div>
  </div>
  {% else %}
    <div class="container">
      <!-- ============================ COMPONENT 1 ================================= -->

      <div class="row">
        <aside class="col-lg-9">
          <div class="card">
      
            <table class="table table-borderless table-shopping-cart text-center">
              <thead class="text-muted">
                <tr class="small text-uppercase text-align-cente">
                  <th scope="col">Product</th>
                  <th scope="col" width="120">Quantity</th>
                  <th scope="col" width="120">Price</th>
                  <th scope="col" class="text-right" width="200"></th>
                </tr>
              </thead>
              <tbody>
                {% for cart_item in cart_items %}
                <tr>
                    
                  <td>
                    <figure class="itemside align-items-center">
                        <div class="how-itemcart1">
                            <img src="{{ cart_item.product.images.url }}" height="100" alt="IMG" />
                          </div>
                      <figcaption class="info">
                        <a href="#" class="title text-dark">{{ cart_item.product.product_name }}</a>
                        <p class="text-muted small">
                          {% if cart_item.variation.all %} 
                            {% for item in cart_item.variation.all %}
                          {{ item.variation_category | capfirst}} : {{ item.variation_value | capfirst}} <br>
                            {% endfor %}  
                          {% endif %}
                         
                        </p>
                      </figcaption>
                    </figure>
                  </td>
                  <td class="column-2">
                   
                    <!-- col.// -->
                    <div class="col">
                      
                       <div class="input-group input-spinner" >
                        <div class="quantity d-flex">
                        <div class="input-group-prepend">
                          <a href="{% url 'decrement_quantity' cart_item.product.id cart_item.id %}" class="btn btn-light" type="button" id="button-plus"><i class="fa fa-minus"></i>
                          </a>
                        </div>
                        
                        <input type="text" class="form-control col-4  text-center" value="{{ cart_item.quantity }}">
                        
                        <div class="input-group-append">
                          <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                            {% csrf_token %}
                            {% for item in cart_item.variation.all %}
                            <input type="hidden" name="{{ item.variation_category | lower }}" value="{{ item.variation_value | capfirst }}">
                             {% endfor %}
                          <button class="btn btn-light" type="submit" id="button-minus"> <i class="fa fa-plus"></i> </button>
                        
                        </form>
                       
                        </div>
                      </div>
                      </div> <!-- input-group.// -->
                    </div> 
                  </div><!-- col.// -->
                  </td>
                  <td>
                    <div class="price-wrap">
                      <var class="price">₹{{cart_item.sub_total }}</var><br>
                      <small class="text-muted"> ₹{{ cart_item.product.price}} each </small>
                    </div>
                    <!-- price-wrap .// -->
                  </td>
                  <td class="text-right">
                    <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" onclick="return confirm('Are you sure you want to remove this item')" class="btn btn-danger"> X </a>
                  </td>
                 
                </tr>
               
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- card.// -->
        </aside>
        <!-- col.// -->
        <aside class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <dl class="dlist-align">
                <dt>Total price:</dt>
                <dd class="text-right">₹{{total}} </dd>
              </dl>
              <dl class="dlist-align">
                <dt>Tax:</dt>
                <dd class="text-right">₹{{ tax }}</dd>
              </dl>
              <dl class="dlist-align">
                <dt>Total:</dt>
                <dd class="text-right text-dark b">
                  <strong>₹{{ grand_total }}</strong>
                </dd>
              </dl>
              <hr />
             
              <a href="{% url 'checkout' %}" class="btn btn-dark btn-block">
                Checkout
              </a>
              <a href="{% url 'store' %}" class="btn btn-light btn-block"
                >Continue Shopping</a
              >
            </div>
            <!-- card-body.// -->
          </div>
          <!-- card.// -->
        </aside>
        <!-- col.// -->
      </div>
      <!-- row.// -->
      <!-- ============================ COMPONENT 1 END .// ================================= -->
    </div>
    <!-- container .//  -->
    {% endif %}
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/jquery.nice-select.min.js"></script>
  <script src="static/js/jquery.nicescroll.min.js"></script>
  <script src="static/js/jquery.magnific-popup.min.js"></script>
  <script src="static/js/jquery.countdown.min.js"></script>
  <script src="static/js/jquery.slicknav.js"></script>
  <script src="static/js/mixitup.min.js"></script>
  <script src="static/js/owl.carousel.min.js"></script>
  <script src="static/js/main.js"></script>

 
		
	{% endblock content %}