{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    
                   {% if 'search' in request.path %}
                   <h4>Search Result</h4>
                   {% else %}
                     
                    <h4>Shop</h4>
                    {% endif %}
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %} ">Home</a>
                        <span>Shop</span>
                    </div>
                </div>

                <div style="color: red; align-items:center">
                {% for message in messages %}
                {{message}}
                {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>


<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li><a href="{% url 'store' %}">All Products </a></li>
                                                {% for category in links %}
                                                <li><a href="{{ category.get_url }}">{{ category.category_name }} </a>
                                                </li>

                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <!-- <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                <li><a href="#">Louis Vuitton</a></li>
                                                <li><a href="#">Chanel</a></li>
                                                <li><a href="#">Hermes</a></li>
                                                <li><a href="#">Gucci</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="card">
                                <!-- <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="#">₹0.00 - ₹200</a></li>
                                                <li><a href="#">₹200 - ₹300</a></li>
                                                <li><a href="#">₹300- ₹400</a></li>
                                                <li><a href="#">₹400 - ₹500</a></li>
                                                <li><a href="#">₹500 - ₹600</a></li>
                                                <li><a href="#">₹600+</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="card">
                                <!-- <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            <label for="xs">xs
                                                <input type="radio" id="xs">
                                            </label>
                                            <label for="sm">s
                                                <input type="radio" id="sm">
                                            </label>
                                            <label for="md">m
                                                <input type="radio" id="md">
                                            </label>
                                            <label for="xl">xl
                                                <input type="radio" id="xl">
                                            </label>
                                            <label for="2xl">2xl
                                                <input type="radio" id="2xl">
                                            </label>
                                            <label for="xxl">xxl
                                                <input type="radio" id="xxl">
                                            </label>
                                            <label for="3xl">3xl
                                                <input type="radio" id="3xl">
                                            </label>
                                            <label for="4xl">4xl
                                                <input type="radio" id="4xl">
                                            </label>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="card">
                                <!-- <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__color">
                                            <label class="c-1" for="sp-1">
                                                <input type="radio" id="sp-1">
                                            </label>
                                            <label class="c-2" for="sp-2">
                                                <input type="radio" id="sp-2">
                                            </label>
                                            <label class="c-3" for="sp-3">
                                                <input type="radio" id="sp-3">
                                            </label>
                                            <label class="c-4" for="sp-4">
                                                <input type="radio" id="sp-4">
                                            </label>
                                            <label class="c-5" for="sp-5">
                                                <input type="radio" id="sp-5">
                                            </label>
                                            <label class="c-6" for="sp-6">
                                                <input type="radio" id="sp-6">
                                            </label>
                                            <label class="c-7" for="sp-7">
                                                <input type="radio" id="sp-7">
                                            </label>
                                            <label class="c-8" for="sp-8">
                                                <input type="radio" id="sp-8">
                                            </label>
                                            <label class="c-9" for="sp-9">
                                                <input type="radio" id="sp-9">
                                            </label>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                             <div class="card"> 
                                <!-- <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                </div>
                                <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                         
                                    </div>
                                </div> -->
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span class="shop__product__option__left"> <b>{{ product_count }}</b> Items Found </span>


                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <!-- <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select>
                                    <option value="">Low To High</option>
                                    <option value="">₹0 - ₹499</option>
                                    <option value="">₹499 -₹999 </option>
                                </select>
                            </div>  -->
                             
                        </div>
                    </div>
                </div>
                <div class="row">
                   {%  if products %}
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">

                            
                                <div class="product__item__pic set-bg" data-setbg="{{ product.images.url }}"
                                    style="background-image: url('{{ product.images.url }}')">


                                    <ul class="product__hover">
                                        <li><a href="{% url 'add_to_wishlist' product.id %}"><img src="{% static 'img/icon/heart.png' %}" alt=""></a></li>
                                        <li><a href="{{ product.get_url }}"><img src="{% static 'img/icon/compare.png' %}" alt="">
                                                <span>View</span></a>
                                        </li>
                                        <li><a href="#"><img src="{% static 'img/icon/search.png' %}" alt=""></a></li>
                                    </ul>
                                </div>
                            
                            
                         
                            <div class="product__item__text">
                                <h6> {{ product.product_name }} </h6>
                                <a href="{{ product.get_url }}" class="add-cart animation">View details</a>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>₹{{ product.price }}</h5>
                                <div class="product__color__select">
                                    <label for="pc-4">
                                        <input type="radio" id="pc-4">
                                    </label>
                                    <label class="active black" for="pc-5">
                                        <input type="radio" id="pc-5">
                                    </label>
                                    <label class="grey" for="pc-6">
                                        <input type="radio" id="pc-6">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}  
                   {% else %}   
                    <div>
                        <h2>No Result Fount. Please try again later</h2>
                    </div>
                    {% endif %}
                </div>
                <nav class="mt-4" aria-label="page navigation sample">
                    {% if products.has_other_pages %}  
                     <ul class="pagination">
                        {% if products.has_previous %}
                        <li class="pgae-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
                        {% else %}
                        <li class="pgae-item disabled"><a class="page-link" href="#">Previous</a></li>
                         {% endif %}
                        
                         
                        {% for i in products.paginator.page_range %} 
                          {% if porducts.number == i %}
                             <li class="pgae-item active"><a class="page-link" href="#">{{i}}</a></li>
                           {% else %}  
                           <li class="pgae-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li> 
                            {% endif %}
                        {% endfor %} 

                        {% if products.has_next %}
                        <li class="pgae-item "><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
                        {% else %} 
                        <li class="pgae-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                </nav>
            </div>

        </div>
</section>

 

<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.nice-select.min.js"></script>
<script src="static/js/jquery.nicescroll.min.js"></script>
<script src="static/js/jquery.magnific-popup.min.js"></script>
<script src="static/js/jquery.countdown.min.js"></script>
<script src="static/js/jquery.slicknav.js"></script>
<script src="static/js/mixitup.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/main.js"></script>


{% endblock %}