{% extends 'base.html' %}
 {% load static%} 
 {% block content %} 
 

<section class="section-conten padding-y bg" style="margin-top: 100px">
  <div class="container card mb-5" style="background-color:white">
    <div class="row">
      {% include 'includes/dashboard_sidebar.html' %}

      <main class="col-md-9">
        {% for message in messages %}
        <div>
          <p class=" my-5 alert alert-{{message.tags}}">{{message}}</p>
        </div>
        {% endfor %}

        <article class="card my-4">
          <header class="card-header" style="background-color: #ffffff">
           <h3> <strong class="d-inline-block mr-3 ">My orders</strong></h3>
          </header>

          <div class="card">
            <div class="card-body">
              <table class="table table-borderless">
                <thead class="text-muted">
                  <tr class="small text-uppercase">
                    <th scope="col">order date</th>
                    <th scope="col">Tracking Number</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>

                <tbody>
                    {% for item in orders %}
                  <tr>
                    <td>{{ item.created_at }}</td>
                    <td>{{ item.tracking_no }}</td>
                    <td>₹ {{ item.total_price }}</td>
                    {% if item.status == 'Cancelled' %}
                    <td class="text-danger "><b>{{ item.status }}</b></td>
                    {% elif item.status == 'Pending' %}
                    <td class="text-warning "><b>{{ item.status }}</b></td>
                    {% else %}
                    <td class="text-success fw-bold "> <b>{{ item.status }}</b></td>
                    {% endif %}
                  
                    <td><a href="{% url 'vieworder' item.tracking_no %}" class="btn btn-dark">View</a></td>
                     
                  </tr>
                    
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
 
 {% endblock %}
